apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "org_service_url": "https://dev.azure.com/xtramole",
      "personal_access_token": "7oooyus733ewkoevngdyengt3hgeba3ccaelnkqquyeejy455jea"
    }
