apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "org_service_url": "SERVICE_URL",
      "personal_access_token": "TOKEN"
    }
